includeConfig 'conf/base.config'
params {

    // -------------------------------------------------------------------
    // Input
    // -------------------------------------------------------------------
    // Option 1: a folder of one or many VCFs. Files are used as-is, not split.
    vcf_in     = "/lustre/scratch125/humgen/teams_v2/hgi/vo3/tmp_project_directories/vep_test/shard_test/"
    // Option 2: one large VCF that gets split into chunks (see split_input below).
    vcf_inputfile = "/lustre/scratch127/humgen/teams_v2/hgi/vo3_hail_qc/LRA_WGS/vcfs_pre-qc/joint_germline.vcf.gz"

    // -------------------------------------------------------------------
    // Splitting a single large VCF (only used when vcf_inputfile is the input)
    // -------------------------------------------------------------------
    split_input       = false // true to split vcf_inputfile into chunks
    number_of_chunks   = 300     // used when use_bed_to_split = false
    use_bed_to_split   = false // true to split by the intervals in interval_bed instead
    interval_bed       = "/lustre/scratch125/humgen/resources_v2/exome/Homo_sapiens/Twist/Twist_Human_Core_Exome_BI-CTR.bed"

    // -------------------------------------------------------------------
    // Run modes
    // -------------------------------------------------------------------
    annotate_vcf    = true          // produce a VEP-annotated VCF
    transcript_mode = 'all'           // all | worst | primary | mane
    left_align      = true          // left-align/normalise variants before annotating
    hail_tsv        = false         // also produce a TSV for Hail QC

    // -------------------------------------------------------------------
    // Mandatory pipeline paths
    // -------------------------------------------------------------------
    ref_fasta  = "/lustre/scratch125/humgen/resources_v2/ref/Homo_sapiens/HS38DH/hs38DH.fa"
    workdir    = "/lustre/scratch125/humgen/teams_v2/hgi/vo3/working_directories/vep_LRA"
    publishdir = "/lustre/scratch127/humgen/teams_v2/hgi/vo3_hail_qc/LRA_WGS/vep_annotation_res/"

    // -------------------------------------------------------------------
    // Resource ceilings used by check_max() below.
    // TODO: confirm these against your actual LSF farm limits — these were
    // previously undefined, which meant check_max() always hit its
    // catch-and-warn branch and never actually capped anything.
    // -------------------------------------------------------------------
    max_memory = '700.GB'
    max_cpus   = 64
    max_time   = '240.h'

    // -------------------------------------------------------------------
    // VEP resource paths.
    // -------------------------------------------------------------------
    vep_container  = '/software/hgi/containers/vep/vep_115.2.sif'
    vep_data_dir   = '/lustre/scratch125/humgen/resources_v2/ensembl/vep/GRCh38/vep_data'
    vep_plugins_dir = '/lustre/scratch125/humgen/resources_v2/ensembl/vep/GRCh38/Plugins'
    vep_fasta = "/lustre/scratch125/humgen/resources_v2/ensembl/vep/GRCh38/vep_data/homo_sapiens/115_GRCh38/Homo_sapiens.GRCh38.dna.toplevel.fa.gz"
    assembly = "GRCh38"
    plugins_to_use = """
        --plugin CADD,snv=/lustre/scratch125/humgen/resources_v2/cadd_scores/20240226-GRCh38_v1.7/whole_genome_SNVs.tsv.gz,indels=/lustre/scratch125/humgen/resources_v2/cadd_scores/20240226-GRCh38_v1.7/gnomad.genomes.r4.0.indel.tsv.gz \
        --custom /lustre/scratch125/humgen/resources_v2/ClinVar/clinvar_20250907.vcf.gz,ClinVar,vcf,exact,0,CLNDN,CLNDNINCL,CLNDISDB,CLNDISDBINCL,AF_ESP,AF_EXAC,AF_TGP,ALLELEID,CLNDN,CLNDNINCL,CLNDISDB,CLNDISDBINCL,CLNHGVS,CLNREVSTAT,CLNSIG,CLNSIGCONF,CLNSIGINCL,CLNVC,CLNVCSO,CLNVI,DBVARID,GENEINFO,MC,ORIGIN,RS,SSR \
        --plugin LoF,loftee_path:/lustre/scratch125/humgen/resources_v2/ensembl/vep/GRCh38/Plugins,human_ancestor_fa:/lustre/scratch125/humgen/resources_v2/ensembl/vep/GRCh38/Plugins/human_ancestor.fa.gz,conservation_file:/lustre/scratch125/humgen/resources_v2/ensembl/vep/GRCh38/Plugins/loftee.sql,gerp_bigwig:/lustre/scratch125/humgen/resources_v2/ensembl/vep/GRCh38/Plugins/gerp_conservation_scores.homo_sapiens.GRCh38.bw \
        --plugin REVEL,file=/lustre/scratch125/humgen/resources_v2/ensembl/vep/GRCh38/Plugins/new_tabbed_revel_grch38.tsv.gz \
        --plugin SpliceAI,snv=/lustre/scratch125/humgen/resources_v2/SpliceAI_data_files/spliceai_scores.raw.snv.hg38.vcf.gz,indel=/lustre/scratch125/humgen/resources_v2/SpliceAI_data_files/spliceai_scores.raw.indel.hg38.vcf.gz \
        --plugin AncestralAllele,/lustre/scratch125/humgen/resources_v2/ensembl/vep/GRCh38/Plugins/homo_sapiens_ancestor_GRCh38.fa.gz \
        --plugin OpenTargets,file=/lustre/scratch125/humgen/resources_v2/ensembl/vep/GRCh38/Plugins/OTGenetics.tsv.gz,cols=all \
        --plugin LoFtool,/lustre/scratch125/humgen/resources_v2/ensembl/vep/GRCh38/Plugins/LoFtool_scores.txt \
        --plugin AlphaMissense,file=/lustre/scratch125/humgen/resources_v2/AlphaMissense/AlphaMissense_hg38.tsv.gz \
        """

    custom_config_version = 'master'
    custom_config_base    = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
}

singularity {
    enabled   = true
    cacheDir  = '/nfs/hgi/singularityContainers/'
    runOptions = '--bind /lustre'
}

// Load nf-core custom profiles from different Institutions
try {
    includeConfig "https://raw.githubusercontent.com/nf-core/configs/master/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: https://raw.githubusercontent.com/nf-core/configs/master/nfcore_custom.config")
}

def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
